<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <br>
    <h3 >
        <img src='logo.jpeg' alt="logo" id="logo">
        <a type="button" class="btn btn-success btn-lg" href ="/">Home</a>
        <a type="button" class="btn btn-success btn-lg" href="/addparcel">Add New Parcel</a>
        <a type="button" class="btn btn-success btn-lg" href="/listparcel">List Parcel</a>
        <a type="button" class="btn btn-success btn-lg" href="/deleteparcel">Delete Parcel ID</a>
        <a type="button" class="btn btn-success btn-lg"href="/deleteparcelname">Delete Parcel by Sender</a>
        <a type="button" class="btn btn-success btn-lg" href="/listsender">List Parcel By Sender</a>
        <a type="button" class="btn btn-success btn-lg" href="/listweight">Weight Range</a>
    </h3>
        
</head>
<body id="home">
    <h3>You have entered the incorrect data values. Please try again</h3>
    <a type="button"class="btn btn-info btn-sm"href ='/addparcel'>Press to Add another Parcel</a>
    
</body>
</html>